h2{
	text-align: center;
	display: inline-block;
	background-color: red;
	font-size: 1.5em;
}
h3 {
	display: inline-block;
	background-color: #33CCFF;
	font-size: 1.5em;
}
body{
	background-color: #CCCCFF;
}
img{
	width: 220px;
	height: 171px;
	display: block;
}

