h1{

	text-align: center;
}
h2{
	text-align: center;
	display: block;
	font-size: 1.5em;
}
h3 {
	text-align: center;
	display: block;
	color: #33CCFF;
	font-size: 1.5em;
}
img{
	text-align: center;
}
body{
	background-color: #CCCCFF;
}

